<%- include("partials/header.ejs") %>

  <div class="content-container">  
    <ul class="content-nav">
        <li class="content-nav-item">
        <a class="content-nav-link inconsolata" href="/coats">COATS</a>
      </li>
      <li class="content-nav-item">
        <a class="content-nav-link inconsolata" href="/hats">HATS</a>
      </li>
      <li class="content-nav-item">
        <a class="content-nav-link inconsolata" href="/accessories">ACCESSORIES</a>
      </li>
    </ul>
  </div>
  
  <section class="grid-container">
    <div class="card">
      <!-- <div class="card-details"> -->
        <img src="/images/DSC_0004.JPG">
      <!-- </div> -->
      <button class="card-button">More info</button>
    </div>

    <div class="card">
      <div class="card-details">
        <p class="text-title">Card title</p>
        <p class="text-body">Here are the details of the card</p>
      </div>
      <button class="card-button">More info</button>
    </div>

    <div class="card">
      <div class="card-details">
        <p class="text-title">Card title</p>
        <p class="text-body">Here are the details of the card</p>
      </div>
      <button class="card-button">More info</button>
    </div>

    <div class="card">
      <div class="card-details">
        <p class="text-title">Card title</p>
        <p class="text-body">Here are the details of the card</p>
      </div>
      <button class="card-button">More info</button>
    </div>

    <div class="card">
      <div class="card-details">
        <p class="text-title">Card title</p>
        <p class="text-body">Here are the details of the card</p>
      </div>
      <button class="card-button">More info</button>
    </div>

    <div class="card">
      <div class="card-details">
        <p class="text-title">Card title</p>
        <p class="text-body">Here are the details of the card</p>
      </div>
      <button class="card-button">More info</button>
    </div>



  </section>

  <%- include("partials/footer.ejs") %>